@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}

h1,h2,h3,h4,h5,h6 {
    --text-opacity: 1;
    color: #000;
    color: rgba(0,0,0,var(--text-opacity))
}

.h1 {
    font-size: 3rem;
    line-height: 1.1em;
    font-weight: 700
}

@media (min-width: 560px) {
    .h1 {
        font-size:4rem
    }
}

@media (min-width: 768px) {
    .h1 {
        font-size:5rem
    }
}

.h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3em;
}

@media (min-width: 560px) {
    .h2 {
        font-size:2rem
    }
}

@media (min-width: 768px) {
    .h2 {
        font-size:2.5rem
    }
}

.h3 {
    font-size: 1.25rem;
    line-height: 1.3em;
    font-weight: 600;
}

@media (min-width: 560px) {
    .h3 {
        font-size:1.5rem
    }
}

.h4 {
    font-size: 1.15rem;
    font-weight: 500;
}

@media (min-width: 560px) {
    .h4 {
        font-size:1.25rem;
    }
}

.h5 {
    font-size: 1.15rem;
    font-weight: 500
}

li,p {
    font-size: 1rem;
    line-height: 1.6em
}

@media (min-width: 560px) {
    li,p {
        font-size:1.125rem
    }
}

@media (min-width: 768px) {
    li,p {
        font-size:1.175rem
    }
}

.inner {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: block;
}

.mod-container {
    width: 100%;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.row {
    margin-left: -1.25rem;
    margin-right: -1.25rem
}

.column {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.header-title {
    font-weight: 700;
}

.big-email {
    font-size: 1.6rem;
    line-height: 2.3rem;
    font-weight: 700;
}

.sidebar {
    width: 100%;
}

.sidebar {
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
  
.sidebar.open {
    transform: translateX(0);
}

@media (min-width: 560px) {
    .big-email {
        font-size:2.3rem;
        line-height: 3rem;
    }
}

@media (min-width: 768px) {
    .big-email {
        font-size:3rem;
        line-height: 3.5rem;
    }

    main .sidebar {
        padding-top: 7.5rem;
    }
}

.anchor-link {
    text-decoration: none;
    text-decoration-color: transparent;
    text-underline-offset: 3px;
    transition: text-decoration-color .2s cubic-bezier(.785,.135,.15,.86), text-underline-offset .2s cubic-bezier(.785,.135,.15,.86);
}

.anchor-link:hover {
    text-decoration: underline;
    text-decoration-color: rgb(147 197 253 / var(--tw-text-opacity));
    text-underline-offset: 3px;
}

.feather path,
.feather rect,
.feather circle,
.feather line {
    transition: stroke .2s cubic-bezier(.785,.135,.15,.86);
}

.feather:hover path,
.feather:hover rect,
.feather:hover circle,
.feather:hover line {
    stroke: rgb(147 197 253 / var(--tw-text-opacity));
}

.close-link {
    position: absolute;
    top: 1.3rem;
    right: 1.5rem
}

.menu {
    height: 100vh
}

@supports (-webkit-touch-callout:none) {
    .menu {
        height: -webkit-fill-available
    }
}

.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.thumb {
    border: 0.25rem solid #000;
    border-radius: 0.5rem;
}

h2 .wave {
    transition: all .2s cubic-bezier(.785,.135,.15,.86);
    opacity: 0
}

h2:hover .wave {
    opacity: 1
}

.phone-socials {
    display: none;
}

@media (max-width: 1024px) {
    .phone-socials {
        display: block;
    }
}

.header-link {
    text-decoration: none;
    text-decoration-color: transparent;
    text-underline-offset: 0.2rem;
    transition: text-decoration-color .2s cubic-bezier(.785,.135,.15,.86), text-underline-offset .2s cubic-bezier(.785,.135,.15,.86);
}

.header-link:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0 0 0);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.2rem;
}

.header-link-active {
    text-decoration: underline;
    text-decoration-color: rgb(0 0 0);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.2rem;
}
